@media only screen and (min-width:684px) and (max-width: 1245px) {
    #navbar{
        flex-direction: column;
    }

    #navbar .logo{
        height: 40px;
        width: 40px;
        overflow: hidden;
    }
    
    #home{
        padding: 0px;
    }
    
    #home h1{
        font-size: 3.2rem;
    }
    
    #home h2{
        font-size: 2.5rem;
    }
    
    #home p{
        font-size: 2rem;
        padding: 0px 15px;
    }
    
    #places{
        flex-direction: column;
        overflow: hidden;
    }

    #places .box img{
        width: 100%;
    }

}

@media only screen and (max-width: 684px) {
    #navbar{
        flex-direction: column;
    }
    
    #navbar .logo{
        height: 40px;
        width: 40px;
        overflow: hidden;
    }
    
    #home{
        padding: 0px;
    }
    
    #home h1{
        font-size: 2.2rem;
    }
    
    #home h2{
        font-size: 1.5rem;
    }
    
    #home p{
        font-size: 1rem;
        padding: 0px 15px;
    }
    
    #places{
        flex-direction: column;
        overflow: hidden;
        margin: 0;
    }

    #places .box{
        margin: 0;
        margin-bottom: 20px;
    }

    #places .box img{
        width: 100%;
    }

}